<!doctype html>
<html>
    <head>
        <script src=/static/lionking.js defer></script>
        <script>var dstr='{{dstr}}'
        
        </script>
        <link rel=stylesheet href=/static/lionking.css>
    </head>
    <body>
       
       <div>{{dstr}}</div>
      
       <div id="calendar" class="as">
           <table id="tbl"></table>
       
       </div>
       <div id="seats">
        <div id="afc" class="af"></div>
        <div id="afc1" class="af1"></div>
       </div>